:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0,0,0,0.87);
  background-color: #f0f4f8;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a { text-decoration: none; color: inherit; }
button { cursor: pointer; }